:root {
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --gray-5: #E0E0E0;
  --gray-6: #F2F2F2;
  --violet-1: #646cff;
  --violet-2: #535bf2;
  --white: #ffffff;
}
/* link styles */
a{
  font-weight: 500;
  font-size: 16px;
  color: var(--violet-1);
  text-decoration: none;
}
a:hover{
  color: var(--violet-2);
}
button a{
  text-decoration: none;
}
.button-1 a{
  color: var(--white);
  font-size: 18px;
}
.button-2 a{
  color: var(--violet-1);
  font-size: 18px;
}
/* paragraphs styles */
p{
  font-weight: 500;
}
.paragraph-1{
  font-size: 18px;
  color: var(--gray-3);
}
.paragraph-4{
  font-size: 18px;
  color: var(--gray-2);
}
.paragraph-2{
  font-size: 16px;
  color: var(--gray-3);
}
.paragraph-3{
  font-size: 16px;
  color: var(--gray-2);
}
.paragraph-5{
  font-size: 16px;
  color: var(--gray-5);
}
.paragraph-6{
  font-size: 16px;
  color: var(--violet-1);
}
/* titles styles */
h2{
  font-size: 24px;
}
.title-1{
  color: var(--gray-2);
  font-weight: 600;
}
.title-2{
  color: var(--gray-1);
  font-weight: 500;
}
.title-3{
  font-size: 18px;
  color: var(--gray-2);
  font-weight: 700;
  text-transform: uppercase;
}
.title-4{
  color: var(--gray-2);
  font-weight: 500;
}
/* subtitles styles */
.sub-title-1{
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-2);
}
.sub-title-2{
  font-size: 16px;
  color: var(--gray-1);
  font-weight: 600;
}
.sub-title-3{
  font-size: 18px;
  color: var(--gray-1);
  font-weight: 600;
}
.sub-title-4{
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-3);
}
/* buttons styles */
button{
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px 30px;
}
.button-1{
  background-color: var(--violet-1);
  color: var(--white);
  border: none;
}
.button-2{
  background: none;
  color: var(--violet-1);
  border: 1px solid var(--violet-1);
}
.button-3{
  background: none;
  color: var(--gray-2);
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--gray-2);
  padding: 8px 22px;
}
.button-4{
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background: none;
  border: 1px solid var(--gray-2);
  font-size: 12px;
}
.button-3:hover{
  color: var(--violet-1);
  border: 1px solid var(--violet-1);
}
.button-4:hover{
  color: var(--violet-1);
  border: 1px solid var(--violet-1);
}
/* radio buttons */
.radio-btn{
  display: none;
}
.label-radio-btn{
  border: 1px solid #4F4F4F;
  border-radius: 12px;
  padding: 8px 22px;
  cursor: pointer;
}
.label-radio-btn:hover{
  border: 1px solid #646cff;
  color: #646cff;
}
.label-radio-btn:checked{
  background-color: #535bf2;
  color: #fff;
  border: 1px solid #fff;
}
/* others styles */
.capitalized{
  text-transform: capitalize;
}